@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: #fff;
  font-family: 'Montserrat', sans-serif; /* Stylish font */
}

.navbar .logo {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif; /* Stylish font */
}

.navbar nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  font-family: 'Montserrat', sans-serif; /* Stylish font */
}

.navbar nav ul li a {
  color: #fff;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif; /* Stylish font */
}

.login-btn {
  background-color: #00b4d8;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif; /* Stylish font */
}